.task-flex{
  flex: 1;
}

.label-field{
  transition: all 0.2s linear;
}

.label-field.ng-hide{
  opacity: 0;
}

.delete-button{
  margin-left: 30px;
  margin-right: 10px;
  opacity: 1;
  transition: all 0.2s linear;
  transition-delay: 0.1s;
}

.delete-button.ng-hide{
  opacity:0;
  transition-delay: 0s;
}

.task-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection{
  margin: 0.9rem 0.9rem 0.9rem 0.9rem !important;
}
