<div>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Liste de tâches</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      </ul>
    </div>
  </nav>
  <ul class="collection">
    <li class="collection-item" ng-repeat="task in tasks track by $index" ng-mouseenter="task.showButtons=true" ng-mouseleave="task.showButtons=false">
      <div class="input-field">
        <label ng-hide="!task.showButtons && !task.focus && $index != tasks.length-1">Nom</label>
        <input ng-model="task.name" ng-focus="task.focus=true" ng-change="addNewLine(task.name, '{{task.name}}')" ng-blur="task.focus=false" type="text" />
      </div>
      <a class="btn-floating btn-large waves-effect waves-light red" ng-click="deleteTask($index)" ng-hide="$index === tasks.length-1 || (!task.showButtons && !task.focus)"><i class="material-icons">delete</i></a>
    </li>
  </ul>
</div>
