<div>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Liste de tâches</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      </ul>
    </div>
  </nav>
  <ul class="collection">
    <li class="collection-item">
      <div class="input-field">
        <label>Nom</label>
        <input type="text" />
      </div>
      <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">done</i></a>
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
    </li>
  </ul>
</div>
